<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Madspild</title>
    <link rel="stylesheet" href="main.css">
</head>
<body>

<nav class="TopNavBar">
    <a class="current" href="/">Home</a>
    <a class="tips-tricks" href="/tips">Tips and tricks</a>
    <a class="madfacts" href="/madfacts">Mad facts</a>
    <a class="about" href="/about">About</a>
</nav>

<div class="header">
    <h1 class="title">Madsplid i Danmark</h1>
    <h1 class="sub-title">Hver dag bliver der smidt næsten 2.000 tons fødevarer ud i Danmark. Her er nogle tips til at hjælpe med at mindske det tal.</h1>
</div>

<div class="main-text">
    <p>Spild af mad har store miljø- og klimamæssige konsekvenser, og det er noget, alle kan være med til at undgå.
        Vi kan måske ikke rette på det ved at spise al den mad, der ellers ville være blevet smidt ud,
        men udenlandske undersøgelser peger på, at omkring halvdelen af den mad, der ryger i skraldespanden, kunne være spist.
        Madspild handler ikke kun om, hvad der går til spilde i husholdningerne. Det handler også om spildet i hele
        kæden, dvs. under dyrkning og produktion, transport, håndtering og indpakning i butikkerne samt tilberedning og servering
        i restauranterne m.m.
    </p>
</div>

<ul class="kildetekst">
    <li>Kilde: <a class="kilde" href="https://www.foedevarestyrelsen.dk/Leksikon/Sider/Madspild.aspx">https://www.foedevarestyrelsen.dk/Leksikon/Sider/Madspild.aspx</a> </li>
</ul>

</body>
</html>