<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Madspild</title>
    <link rel="stylesheet" href="main.css">
    <link rel="stylesheet" href="madfacts.css">

</head>
<body>

<nav class="TopNavBar">
    <a class="home" href="/">Home</a>
    <a class="tips-tricks" href="/tips">Tips and Tricks</a>
    <a class="current" href="/madfacts">Mad facts</a>
    <a class="about" href="/about">About</a>
</nav>

<div class="header">
    <h1 class="title">Lidt Facts om Madspild</h1>
</div>

<div class="madfacts-whole-tekst">
    <h1>Værd at vide om madspild</h1>
    <ul class="madfacts">
        <li class="madfacts-1">Madspildet i den danske servicesektor udgør 227.000-ton pr. år. Til sammenligning er det
            samlede madspild fra husholdningerne 261.000-ton pr. år.</li>
        <li class="madfacts-2">Det største madspild i servicesektoren stammer fra detailhandelen, der spilder 163.000 tons pr.
            år, svarende til 72 % af servicesektorens madspild.</li>
        <li class="madfacts-3">Af detailhandelens madspild står specialforretninger som slagtere,
            fiskeforretninger og grønthandlere for 12.000 tons pr. år, mens ikke-specialiserede forretninger
            som kiosker, købmænd, supermarkeder og varehuse står for 151.000-ton pr. år.</li>
    </ul>

</div>

<ul class="kildetekst">
    <li>Kilde: Kortlægning af madaffald i servicesektoren og Kortlægning af dagrenovation i Danmark</li>
</ul>

</body>
</html>