/* This is just to reset all margin and padding */
* {
    padding: 0;
    margin: 0;
}
a {
    text-decoration: none;
    color: inherit;

    transition: all 0.2s ease;
}
/* Setting the font for the whole page */
body {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
/* Changes to the nav flexbox */
.TopNavBar {
    display: flex;
    width: 400px;
    align-items: center;
    font-size: 25px;
    background-color: #ADA8A8;
}
/* Changes to text */
.TopNavBar a {
    padding: 15px;
    color: #ffffff;
}
/* Changes when hovering flexbox */
.TopNavBar a:hover {
    background-color: #929292;
    color: black;
}
/* Changes to TopNavBar a.current class */
.TopNavBar a.current {
    background-color: #4FA456;
    color: #ffffff;
}
/* Changes to TopNavBar a.current on hover */
.TopNavBar a.current:hover {
    background-color: #04AA0E;
    color: white;
}