.title-tips {
    padding-top: 80px;
    font-size: 50px;
}
.tips-tekst {
    display: flex;
    flex-direction: column;
    padding: 0 0 0 15%;
}
.forbruger-tips {
    list-style-type: circle;
}
h1  {
    font-size: 35px;
    padding-top: 7%;
}
ul {
    padding: 25px;
    font-size: 25px;
}
.firma-tips {
    list-style-type: none;
    padding-right: 60%;
}
.firma-tips-1 {

}
.firma-tips-2 {
    padding-top: 35px;
}

.tips-links {
    padding: 10px 0 10px 0;
    color: #0645AD;
}
.last-link {
    padding-bottom: 100px;
}